@charset "utf-8";

body{
   background-color: rgba(0, 0, 0, 0.187);
   margin: 0px0;
   padding: 0px;
}
.conteiner{
   background-image: linear-gradient(rgb(71,74,110), rgb(46,37,54));
   width: 100%;
   height: 150px;
   margin: auto;
   margin-bottom: 2px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.foto > img{
   width: 100px;
   height: 100px;
   margin: 25px;
   border-radius: 360px;
}
.nomeId{
   width: 40%;
}
.nomeId{
   color: white;
}
.conteiner-Pagamento{
   background-color: white;
   width: 60%;
   margin: auto;
   height: 300px;
   display: flex;
   flex-direction: column;
}
.h2{
   background-color: rgb(71,74,110);
   margin: 0px;
   height: 40px;
   color: white;
   padding-top: 10px;
   padding-left: 10px;
   border: 1px solid rgba(0, 0, 0, 0.658);
}
.input{
   width: 90%;
   height: 50px;
   margin: auto;
   border: 1px solid black;
   margin-top: 20px;
   font-size: 30px;
}
.input > p{
   margin: 8px;
}
.select{
   width: 85%;
   height: 50px;
   margin: auto;
   font-size: 30px;
   margin-top: 20px;
}
select{
   width: 100%;
   height: 50px;
}
.div-button{
   height: 50px;
   width: 50%;
   display: flex;
   margin: auto;
   justify-content: center;
}
.button{
   width: 44%;
   font-size: 20px;
}
.conteiner-recibo{
   background-color: white;
   height: 200px;
   width: 50%;
   margin: auto;
}
.conteiner-recibo > p{
   display: flex;
   justify-content: center;
   margin-top: 50px;
   font-size: 20px;
}